<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="<%= robots %>" />
    <meta name="googlebot" content="<%= robots %>" />
    <title>Error</title>
    <link rel="shortcut icon" href="/images/favicon.ico" />
<% if (process.env.NODE_ENV === 'production') { -%>
    <link rel="stylesheet" href="/styles/error.min.css" />
<% } else { -%>
    <link rel="stylesheet" href="/styles/error.css" />
<% } -%>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Darumadrop+One" />
  </head>
  <body>
    <div class="alert-root" id="alert-root">
      <div class="alert alert-enter-done">

        <div class="alert-content">
          <section class="alert-message alert-error">
            <header class="alert-header">
              <h4>
                <span class="item-text-with-icon">
                  <span class="icon icon-triangle-exclamation">
                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512" fill="currentColor"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480H40c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24V296c0 13.3 10.7 24 24 24s24-10.7 24-24V184c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg>
                  </span>
                  <span class="item-text">Error</span>
                </span>
              </h4>
            </header>

            <main class="alert-main">
              <% if (error.customMessage) { %>
              <p class="message-content">
                <%- error.customMessage %>
              </p>
              <p class="original-message-content">
                (<strong><%= error.status %></strong> <span><%= error.message %></span>)
              </p>
              <% } else { %>
              <p class="message-content">
                <strong><%= error.status %></strong> <span><%= error.message %></span>
              </p>
              <% } %>
            </main>
          </section>
        </div>
      </div>
    </div>

    <% if (isDevelopment) { %>
    <div class="alert-message alert-stack" style="width: 800px;">
      <pre><%= error.stack %></pre>
    </div>
    <% } %>
  </body>
</html>
