<!DOCTYPE html>
<html>
  <head>
    <meta name="robots" content="<%= robots %>" />
    <meta name="googlebot" content="<%= robots %>" />
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
